*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: none;
}

.content-wrapper img{
position: relative;
width: 1432px;
/*height: 932px;*/
}

.text-wrapper{
position: absolute;
width: 512px;
height: 350px;
top: 50%;
left: 50%;
transform: translateX(-40%) translateY(-40%);

font-family:league spartan;
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 90px;
/* or 76% */
letter-spacing: -0.01em;
}

.subtext-wrapper{
position: absolute;
width: 375px;
height: 36px;

font-family: Sanchez;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
}

.navbar{
    position: relative;
    background-color: white;
    height: 70px;
    width: 100%;
    font-family: league spartan;
}

a:hover {
    color: grey;
}

label.logo{
    color: black;
    font-size: 35px; 
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

ul{
    float: right;
    margin-right: 20px;
    font-weight: bold;
    font-family: league spartan;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family: league spartan;
    font-weight: bold;
}

nav ul li a{
    color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 5px;
    font-family: league spartan;
    font-weight: bold;
}

footer {
    position: relative;
    background-color: white;
    height: 70px;
    width: 100%;
    font-family: league spartan;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
